# Docker Compose Environment Variables
REDIS_AUTH_TOKEN=redis_auth_token_17887_addOdsd_
AWS_REGION=ap-south-1
AWS_ACCESS_KEY_ID=dummy
AWS_SECRET_ACCESS_KEY=dummy
DYNAMODB_DATABASE_NAME=products
REDIS_ENABLED=true
LOG_LEVEL=info
CORS_ORIGIN=http://localhost:5173
VITE_API_URL=http://localhost:8080
NODE_ENV=development
AUTO_MIGRATE=true
AUTO_SEED=true
